<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.tools.importer.kptracecsvcat.KptracecsvcatImporterTool"
            doc="no parameters"
            name="Kptrace CSV"
            id="fr.inria.soctrace.tools.importer.kptracecsvcat"
            type="IMPORT">
      </tool>
   </extension>

</plugin>
