<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.tools.importer.starpu.StarPuImporter"
            doc="StarPu Importer"
            id="fr.inria.soctrace.tools.importer.starpu"
            name="StarPu Importer"
            type="IMPORT">
      </tool>
   </extension>
   <extension
         point="fr.inria.soctrace.framesoc.ui.input.toolInput">
      <toolInput
            compositeFactory="fr.inria.soctrace.tools.importer.starpu.input.StarPuInputCompositeFactory"
            toolId="fr.inria.soctrace.tools.importer.starpu">
      </toolInput>
   </extension>

</plugin>
