<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.tools.importer.paraver.ParaverImporter"
            doc="Select the Paraver .prv file."
            id="fr.inria.soctrace.tools.importer.paraver"
            name="Paraver Importer "
            type="IMPORT">
      </tool>
   </extension>
   <extension
         point="fr.inria.soctrace.framesoc.ui.input.toolInput">
      <toolInput
            compositeFactory="fr.inria.soctrace.tools.importer.paraver.input.ParaverInputCompositeFactory"
            toolId="fr.inria.soctrace.tools.importer.paraver">
      </toolInput>
   </extension>

</plugin>
