<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.inria.soctrace.framesoc.core.tool">
      <tool
            class="fr.inria.soctrace.tools.importer.paje.PajeImporter"
            doc="Select the Pajé file. Options: -l (long precision). It is also possible to specify all the pj_dump options (see pj_dump documentation)."
            id="fr.inria.soctrace.tools.importer.paje"
            name="Pajé Importer"
            type="IMPORT">
      </tool>
   </extension>
   <extension
         point="fr.inria.soctrace.framesoc.ui.input.toolInput">
      <toolInput
            compositeFactory="fr.inria.soctrace.tools.importer.pajedump.input.PajeDumpInputCompositeFactory"
            toolId="fr.inria.soctrace.tools.importer.paje">
      </toolInput>
   </extension>

</plugin>
